#mdb-preloader.loaded {
  opacity: 0;
  transition: .3s ease-in 1s;
  z-index: 0;
}
#mdb-preloader {
  background-color: #353b50;
  
}

.card-img-top {
  max-height: 9em;
}

.chip {
  margin-bottom: 0 !important;
}

.custom-file-input {
  opacity: 1;
}

.custom-file-label {
  display: none;
}

.md-form {
  margin-bottom: 0;
}

.md-form label {
  color: black;
}


::placeholder { 
  color: black;
  opacity: 1; 
}
textarea.form-control {
  height: 6em;
}

select{
  display: block !important;
}


h1 {
  width: auto;
  padding: 6vw;
  
  font-size: 6vw;
  font-weight: 300;
  text-align: center;
  
	opacity: 1;
	transform: scale(1);
  transition: transform 0.8s ease, opacity 1.6s ease;
  user-select: none;
}
b { font-weight: 700; }

h1:before, h1:after {
	height: 0.4vw;
	width: 100%;
	content: "";
	background: black;
	display: block;
	position: absolute;
	transition: width 0.8s ease;
	transition-delay: 0.8s;
}
h1:before { top: 0; left: 0; }
h1:after  { bottom: 0; right: 0; }

.loading h1 {
	transform: scale(4);
	opacity: 0;
  transition: all 0s;
}
.loading h1:before, .loading h1:after {
	width: 0;
}
