.card-img-top {
  max-height: 9em;
}

.chip {
  margin-bottom: 0 !important;
}

.custom-file-input {
  opacity: 1;
}

.custom-file-label {
  display: none;
}

.md-form {
  margin-bottom: 0;
}

.md-form label {
  color: black;
}



::placeholder { 
  color: black;
  opacity: 1; 
}
textarea.form-control {
  height: 6em;
}

select{
  display: block !important;
}
