html,
body {
    font-family: Roboto;
    height: 100%;
}

.global {
    min-height: calc(100vh - 1.5em);
    text-align: center;
}
.navbar {
  background-color: #353b50 !important;

}
footer {
  background-color: #353b50 !important;
}

.avatar-mini {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

body.dark-mode {
  background-color: #363947;
  color: #FDF5E8;
}
body.dark-mode a {
  color: #111;
}
body.dark-mode hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
body.dark-mode .card-body-cascade {
  background-color: #262A37 !important;
  color: #FDF5E8;
}
body.dark-mode .card{
  background-color: #262A37 !important;
  color: #FDF5E8;
}
body.dark-mode .modal-content {
  background-color: #363947;
  color: #FDF5E8;
}
body.dark-mode .table {
  color: #FDF5E8;
}
body.dark-mode .table td{
  color: #FDF5E8;
}
body.dark-mode .page-item a {
  color: #111;
}
body.dark-mode .dropdown-menu {
  background-color: #111;
  color: #FDF5E8;
}


body.dark-mode .navbar-dark .navbar-nav .nav-link {
  color: #FDF5E8 ;
}
body.light-mode .navbar-dark .navbar-nav .nav-link {
  color: #111;
}
body.dark-mode .md-form label {

color: white;
}
body.dark-mode .form-group label {

  color: white;
  }
  body.dark-mode ::placeholder{

    color: white;
    opacity: 1; 
    }

body.light-mode {
  background-color: #eee;
  color: #111;
}

body.dark-mode a {
  color: #FDF5E8 !important;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 2rem;
    margin-bottom: 2rem;
  }