html,
body {
    font-family: Roboto;
    height: 100%;
}

.global {
    min-height: calc(100vh - 1.5em);
    text-align: center;
}
.navbar {
  background-color: #353b50 !important;

}
footer {
  background-color: #353b50 !important;
}

.avatar-mini {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

body.dark-mode {
  background-color: #363947;
  color: #FDF5E8;
}
body.dark-mode a {
  color: #111;
}
body.dark-mode hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
body.dark-mode .card-body-cascade {
  background-color: #262A37 !important;
  color: #FDF5E8;
}
body.dark-mode .card{
  background-color: #262A37 !important;
  color: #FDF5E8;
}
body.dark-mode .modal-content {
  background-color: #363947;
  color: #FDF5E8;
}
body.dark-mode .table {
  color: #FDF5E8;
}
body.dark-mode .table td{
  color: #FDF5E8;
}
body.dark-mode .page-item a {
  color: #111;
}
body.dark-mode .dropdown-menu {
  background-color: #111;
  color: #FDF5E8;
}


body.dark-mode .navbar-dark .navbar-nav .nav-link {
  color: #FDF5E8 ;
}
body.light-mode .navbar-dark .navbar-nav .nav-link {
  color: #111;
}
body.dark-mode .md-form label {

color: white;
}
body.dark-mode .form-group label {

  color: white;
  }
  body.dark-mode ::placeholder{

    color: white;
    opacity: 1; 
    }

body.light-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode .modal-title{

  color: white;
}
body.dark-mode h1:before {
  background: white;
}
body.dark-mode h1:after {
  background: white;
}


body.dark-mode a {
  color: #FDF5E8 !important;
}
body.dark-mode .card.card-cascade.narrower .view.view-cascade {
  background-color: #353b50 !important;
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .btn {
    padding: 1em;
  }

  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
  #myBtn i {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#myBtn:hover {
    background: rgba(0, 0, 0, 0.9);
}
#myBtn:hover i {
    color: #fff;
    top: -5px;
}