html,
body {
    font-family: Roboto;
    height: 100%;
}
.global {
    min-height: calc(100vh - 1.5em);
    text-align: center;
}


.droppable {

  font-size: 15pt;
  font-family: Helvetical, Arial, sans-serif;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

.draggable {
  background: #B3001B;
}

.placeholder {
  background: red;
}

td {
  width:15em;
  height:12em;
}

