html,
body {
    font-family: Roboto;
    height: 100%;
}
.global {
    min-height: calc(100vh - 1.5em);
    text-align: center;
}

body {
    color: white;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    background: #B3001B;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #B3001B 1%, #DB2727 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #B3001B), color-stop(100%, #DB2727));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #B3001B 1%, #DB2727 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #B3001B 1%, #DB2727 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #B3001B 1%, #DB2727 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #B3001B 1%, #DB2727 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3001B', endColorstr='#DB2727', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    height: calc(100vh);
    width: 100%;
}


.droppable {

  font-size: 15pt;
  font-family: Helvetical, Arial, sans-serif;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

.draggable {
  background: green;
}

.placeholder {
  background: red;
}

td {
  width:15em;
  height:12em;
}

