.droppable {

  font-size: 15pt;
  font-family: Helvetical, Arial, sans-serif;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}

.draggable {
  background: #B3001B;
}

.placeholder {
  background: red;
}

td {
  width: 15em;
  height: 12em;
}
th {
  width: 15em;
  height: 3em;
}
.table th {
  
  vertical-align: middle !important;
}

textarea.form-control {
  height: 9em;
}

.msg_card_body {
  overflow-y: auto;
}

.msg_cotainer {
  margin-top: 1em;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  height: 3em;
}

.msg_time {
  
  bottom: -15px;
  color:blue;
  font-size: 10px;
}

textarea {
  border-bottom: 1px solid #ced4da !important;
    height: 10em !important;
}

h1 {
  width: auto;
  padding: 6vw;
  
  font-size: 6vw;
  font-weight: 300;
  text-align: center;
  
	opacity: 1;
	transform: scale(1);
  transition: transform 0.8s ease, opacity 1.6s ease;
  user-select: none;
}
b { font-weight: 700; }

h1:before, h1:after {
	height: 0.4vw;
	width: 100%;
	content: "";
	background: black;
	display: block;
	position: absolute;
	transition: width 0.8s ease;
	transition-delay: 0.8s;
}
h1:before { top: 0; left: 0; }
h1:after  { bottom: 0; right: 0; }

.loading h1 {
	transform: scale(4);
	opacity: 0;
  transition: all 0s;
}
.loading h1:before, .loading h1:after {
	width: 0;
}

.md-form .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
}

.message-box .message-submit:hover {
  background: #1D7745;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(2.5);
}

.form-control{
  border: 0;
}