{% extends 'base.html.twig' %}
{% block title %}EditCompany{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/footer.css">{% endblock %}
{% block body %}
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/accueil">
      <img src="../img/logo_transpa.png" width="30" height="30" alt="logo">
    </a>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
             
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <a class="navbar-logout" href="{{ path('logout')}}" data-toggle="tooltip"  title="Déconnexion" ><img src="/img/logout_icon-icons.com_51025.png" width="30" height="30" alt="Logout"></a>
      </nav>
</header>
<main class="global">
    <div class="container">
      {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Editer</button>
      {{ form_end(form) }}
    </div>

    
  </main>
{% endblock %}
  {% block javascripts %}{% endblock %}