<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!--
     ___  ___       ___   _   _____   _____    _   _____   _____        _          __  _____   _____  
    /   |/   |     /   | | | |_   _| |  _  \  | | /  ___/ | ____|      | |        / / | ____| |  _  \ 
   / /|   /| |    / /| | | |   | |   | |_| |  | | | |___  | |__        | |  __   / /  | |__   | |_| | 
  / / |__/ | |   / / | | | |   | |   |  _  /  | | \___  \ |  __|       | | /  | / /   |  __|  |  _  { 
 / /       | |  / /  | | | |   | |   | | \ \  | |  ___| | | |___       | |/   |/ /    | |___  | |_| | 
/_/        |_| /_/   |_| |_|   |_|   |_|  \_\ |_| /_____/ |_____|      |___/|___/     |_____| |_____/ 
Coucou petite perruche :p, que viens-tu faire ici ? 
Contacter nous, ça sera plus simple, et on pourra vous aidez !  
modification@maitrise-web.fr
Si tu veux voir les crédits, licences, ..., n'hésite pas à regarder nos mentions légales ;) 
-->
    <link rel="icon" sizes="32x32" href="../img/favlogo.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="body" class="light-mode">
        {% block body %}{% endblock %}
    <footer class="page-footer">
    <hr>
    <div class="row d-flex mx-auto">
        <div class="col-md-7 col-lg-12">
            <p class="text-center">© 2019 Copyright: <a href=""><strong>MAITRISEWEB</strong></a> | Tous droits
                Reservés |<a href="#!"> Mentions légales |</a><a href="#!"> Politique de confidentialité |</a>
                <a href="#!"> CGV </a>
            </p>
        </div>
    </div>
    <!--debut back-to-top-->
    <button  id="myBtn" title="Go to top"><i class="icon-chevron-up"></button>
    <!--fin back-to-top-->
</footer>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/mdb.min.js"></script>
  <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
